@font-face {
  font-family: 'Aesthet Nova';
  font-style: normal;
  font-weight: 'bold';
  src: local('Aesthet Nova'),
    url(/fonts/Aesthet-Nova-Bold.ttf) format('truetype');
  font-display: 'swap';
}
